
/* Notification center */


.blurredBG, #main_window, .blurredBG.low, .blurredBG.normal {
    background: rgba(0, 10, 20, 0.5);
}

.noti-center.time {
    font-size: 70px;
}

/* APPs */

.Spotify {
    background: linear-gradient(130deg, rgba(93, 245, 148, 0.5), rgba(31, 223, 100, 0.6));
}

.discord {
    background: linear-gradient(130deg, rgba(146, 150, 250, 0.4), rgba(94, 109, 230, 0.5));
}

/* Notifications */

.title {
    font-weight: bold;
    font-size: 14px;
    font-family: monospace;
}

.appname {
    font-size: 12px;
}

.time {
    font-size: 12px;
}

.blurredBG.notification {
    background:  rgba(0, 10, 20, 0.4);
    font-family: sans-serif;
    font-size: 13px;
}

.blurredBG.notification.critical {
    background: rgba(255, 0, 0, 0.5);
}

.notificationInCenter.critical {
    background: rgba(155, 0, 20, 0.5);
}

/* Labels */

label {
    color: #fafafa;
}

label.notification {
    color: #fafafa;
}

label.critical {
    color: #fafafa;
}
.notificationInCenter label.critical {
    color: #fafafa;
}


/* Buttons */

button {
    background: transparent;
    color: #322;
    border-radius: 3px;
    border-width: 0px;
    background-position: 0px 0px;
    text-shadow: none;
}

button:hover {
    border-radius: 3px;
    background: rgba(0, 20, 20, 0.2);
    border-width: 0px;
    border-top: transparent;
    border-color: #f00;
    color: #fee;
}


/* Custom Buttons */

.userbutton {
    background: rgba(20,0,0, 0.15);
}

.userbuttonlabel {
    color: #222;
    font-size: 12px;
}

.userbutton:hover {
    background: rgba(20, 0, 0, 0.2);
}

.userbuttonlabel:hover {
    color: #111;
}

button.buttonState1 {
    background: rgba(20,0,0,0.5);
}

.userbuttonlabel.buttonState1 {
    color: #fff;
}

button.buttonState1:hover {
    background: rgba(20,0,0, 0.4);
}

.userbuttonlabel.buttonState1:hover {
    color: #111;
}

button.buttonState2 {
    background: rgba(255,255,255,0.3);
}

.userbuttonlabel.buttonState2 {
    color: #111;
}

button.buttonState2:hover {
    background: rgba(20,0,0, 0.3);
}

.userbuttonlabel.buttonState2:hover {
    color: #000;
}


/* Images */

image.deadd-noti-center.notification.image {
    margin-left: 5px;
    border-radius: 16px;
}

image.deadd-noti-center.in-center.image {
    margin-left: 5px;
    border-radius: 16px;
}

